DB_TYPE=mysql
DB_HOST=localhost
DB_PORT=3306
DB_USER=u658723739_vlxdastro
DB_PASSWORD=Nguyenbaat@123
DB_NAME=u658723739_vlxdastro
JWT_SECRET=hoangyen_super_secret_jwt_key_2026
ADMIN_DEFAULT_USER=admin
ADMIN_DEFAULT_PASS=HoangYen@2026
SITE_URL=https://vlxdhoangyen.com
PORT=4321
HOST=0.0.0.0
NODE_ENV=production
