# Database Configuration (Supabase PostgreSQL via Transaction Pooler)
DATABASE_URL=postgresql://postgres.xxx:password@aws-0-ap-southeast-1.pooler.supabase.com:6543/postgres
DB_HOST=aws-0-ap-southeast-1.pooler.supabase.com
DB_PORT=6543
DB_USER=postgres.xxx
DB_PASSWORD=your_db_password
DB_NAME=postgres


# App Security & JWT
JWT_SECRET=your_super_secret_jwt_key
ADMIN_DEFAULT_USER=admin
ADMIN_DEFAULT_PASS=your_admin_password

# Site Info
SITE_URL=https://vlxdhoangyen.com
PORT=4321
HOST=0.0.0.0
